
.gradle/
.idea/
AndroidPath.iml
app/app.iml
app/src/main/java/com/androidpath/androidtest/androidtest/
app/src/main/java/com/androidpath/broadcast/networkreceiver/
app/src/main/java/com/androidpath/view/screenmatch270/
build/
local.properties
