<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidpath">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--this is layout activity-->
        <activity android:name=".layoutdemo2.LayoutActivity2" />
        <!--this is buttonselector activity-->
        <activity android:name=".buttonselector30.ButtonSelectorActivtiy3" />
        <!--this is buttontest and buttonclick activity-->
        <activity android:name=".clickreponse31.ButtonTestActivity31" />
        <activity android:name=".clickreponse31.ButtonClickListenActivity31" />
        <activity android:name=".clickreponse31.ButtonClickListenActivity32" />
        <activity android:name=".clickreponse31.ButtonClickListenActivity33" />

        <!--this is editTextDemo activity-->
        <activity android:name=".edittextdemo32.MainActivity32" />
        <!--this is imageviewTest activity-->
        <activity android:name=".imageviewtest.MainActivity33" />
        <!--this is viewTest activity-->
        <activity android:name=".viewtest34.MainActivity34" />
        <activity android:name=".widget.view.HandActivity" />
        <activity android:name=".buttonbgcolor40.MainActivity40" />
        <activity android:name=".checkradio41.MainActivity41" />
        <activity android:name=".spinnerdemo42.MainActivity42" />
        <activity android:name=".spinnerdemo43.MainActivity43" />
        <activity android:name=".spinnersimpleAdapter44.MainActivity44" />


    </application>

</manifest>