<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidpath">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".main.ApplicationMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--this is layout activity-->
        <activity android:name=".controls.layoutdemo2.LayoutActivity2" />
        <!--this is buttonselector activity-->
        <activity android:name=".controls.buttonselector30.ButtonSelectorActivtiy3" />
        <!--this is buttontest and buttonclick activity-->
        <activity android:name=".controls.clickreponse31.ButtonTestActivity31" />
        <activity android:name=".controls.clickreponse31.ButtonClickListenActivity31" />
        <activity android:name=".controls.clickreponse31.ButtonClickListenActivity32" />
        <activity android:name=".controls.clickreponse31.ButtonClickListenActivity33" />

        <!--this is editTextDemo activity-->
        <activity android:name=".controls.edittext.edittextdemo32.MainActivity32" />
        <!--this is imageviewTest activity-->
        <activity android:name=".controls.imageviewtest.MainActivity33" />
        <!--this is viewTest activity-->
        <activity android:name=".controls.viewtest34.MainActivity34" />
        <activity android:name=".widget.view.HandActivity" />
        <activity android:name=".controls.buttonbgcolor40.MainActivity40" />
        <activity android:name=".controls.checkradio41.MainActivity41" />
        <activity android:name=".controls.spinner.spinnerdemo42.MainActivity42" />
        <activity android:name=".controls.spinner.spinnerdemo43.MainActivity43" />
        <activity android:name=".controls.spinner.spinnersimpleAdapter44.MainActivity44" />
        <!--this is activityJump activity-->
        <activity android:name=".activity.activityjump50.MainActivity50" />
        <activity android:name=".activity.activityjump50.OtherActivity50" />
        <activity android:name=".activity.activityjump50.SecondActivity50" />

        <activity android:name=".controls.edittext.autocompletetext51.MainActivity51" />

        <activity android:name=".controls.spinner.spinnerlink52.MainActivity52" />
        <!--this is activityPassValue activity-->
        <activity android:name=".activity.activitypassvalue54.MainActivity54" />
        <activity android:name=".activity.activitypassvalue54.ResultActivity54" />
        <activity android:name=".activity.activitypassvalue54.SecondActivity54" />

        <activity android:name=".activity.applicationpassvalue55.MainActivity55" />
        <activity android:name=".activity.applicationpassvalue55.ResultActivity55" />
        <activity android:name=".activity.applicationpassvalue55.SecondActivity55" />

        <activity android:name=".activity.getresult60.MainActivity60" />
        <activity android:name=".activity.getresult60.SecondActivity60" />
        <activity android:name=".activity.saveinstance76.MainActivity76" />
        <activity
            android:name=".activity.taskdemo61.MainActivity61"
            android:label="this is first page" />

        <activity
            android:name=".activity.taskdemo61.SecondActivity61"
            android:label="this is second page"
            android:launchMode="singleInstance" />

        <activity
            android:name=".activity.taskdemo61.ThirdActivity61"
            android:label="this is third page" />

        <activity
            android:name=".activity.taskdemo61.FourthActivity61"
            android:label="this is fouth page" />

        <activity android:name=".activity.flagdemo74.MainActivity74" />
        <activity android:name=".activity.flagdemo74.SecondActivity74" />

        <activity android:name=".async.demoone70.MainActivity70" />
        <activity android:name=".async.demotwo71.MainActivity71" />
        <activity android:name=".async.getimagestrong72.MainActivity72" />
        <activity android:name=".async.progresslow73.MainActivity73" />
        <activity android:name=".controls.imageviewdeal75.MainActivity75" />
        <!--This is listview activity-->
        <activity android:name=".listview.baseadapter80.MainActivity80" />
        <activity android:name=".listview.adddata81.MainActivity81" />
        <activity android:name=".listview.simpleadapter82.MainActivity82" />
        <activity android:name=".listview.listviewdataparse83.MainActivity83" />
        <activity android:name=".listview.listviewjoke90.MainActivity90" />
        <activity android:name=".listview.baseadapterpack100.MainActivity100" />
        <activity android:name=".listview.listviewexpandable101.MainActivity101" />
        <activity android:name=".listview.gradview102.MainActivity102" />
        <activity android:name=".listview.gradview102.HeadImageActivity102" />
        <activity android:name=".listview.lvemptyview103.MainActivity103" />
        <activity android:name=".listview.lvemptyview103.SecondActivity103" />


    </application>

</manifest>