<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidpath">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GL SurfaceView -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <application
        android:name=".activity.aabase.ApplicationMain"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.aabase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.flowlayout.MainFlowlayoutActivity" />
        <!-- this is layout activity -->
        <activity android:name=".activity.aalayout.layoutdemo2.LayoutActivity2" />
        <activity android:name=".util.language.LanguageActivity" />
        <!-- this is buttonselector activity -->
        <activity android:name=".activity.aalayout.buttonselector30.ButtonSelectorActivtiy3" />
        <!-- this is buttontest and buttonclick activity -->
        <activity android:name=".activity.aalayout.clickreponse31.ButtonTestActivity31" />
        <activity android:name=".activity.aalayout.clickreponse31.ButtonClickListenActivity31" />
        <activity android:name=".activity.aalayout.clickreponse31.ButtonClickListenActivity32" />
        <activity android:name=".activity.aalayout.clickreponse31.ButtonClickListenActivity33" />

        <!-- this is editTextDemo activity -->
        <activity android:name=".activity.aalayout.edittext.edittextdemo32.MainActivity32" />
        <!-- this is imageviewTest activity -->
        <activity android:name=".activity.aalayout.imageviewtest.MainActivity33" />
        <!-- this is viewTest activity -->
        <activity android:name=".activity.aalayout.viewtest34.MainActivity34" />
        <activity android:name=".view.widget.handview.HandActivity" />
        <activity android:name=".activity.aalayout.buttonbgcolor40.MainActivity40" />
        <activity android:name=".activity.aalayout.checkradio41.MainActivity41" />
        <activity android:name=".activity.aalayout.spinner.spinnerdemo42.MainActivity42" />
        <activity android:name=".activity.aalayout.spinner.spinnerdemo43.MainActivity43" />
        <activity android:name=".activity.aalayout.spinner.spinnersimpleAdapter44.MainActivity44" />
        <!-- this is activityJump activity -->
        <activity android:name=".activity.abactivity.activityjump50.MainActivity50" />
        <activity android:name=".activity.abactivity.activityjump50.OtherActivity50" />
        <activity android:name=".activity.abactivity.activityjump50.SecondActivity50" />
        <activity android:name=".activity.aalayout.edittext.autocompletetext51.MainActivity51" />
        <activity android:name=".activity.aalayout.spinner.spinnerlink52.MainActivity52" />
        <!-- this is activityPassValue activity -->
        <activity android:name=".activity.abactivity.activitypassvalue54.MainActivity54" />
        <activity android:name=".activity.abactivity.activitypassvalue54.ResultActivity54" />
        <activity android:name=".activity.abactivity.activitypassvalue54.SecondActivity54" />
        <activity android:name=".activity.abactivity.applicationpassvalue55.MainActivity55" />
        <activity android:name=".activity.abactivity.applicationpassvalue55.ResultActivity55" />
        <activity android:name=".activity.abactivity.applicationpassvalue55.SecondActivity55" />
        <activity android:name=".activity.abactivity.getresult60.MainActivity60" />
        <activity android:name=".activity.abactivity.getresult60.SecondActivity60" />
        <activity android:name=".activity.abactivity.saveinstance76.MainActivity76" />
        <activity
            android:name=".activity.abactivity.taskdemo61.MainActivity61"
            android:label="this is first page" />
        <activity
            android:name=".activity.abactivity.taskdemo61.SecondActivity61"
            android:label="this is second page"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.abactivity.taskdemo61.ThirdActivity61"
            android:label="this is third page" />
        <activity
            android:name=".activity.abactivity.taskdemo61.FourthActivity61"
            android:label="this is fouth page" />
        <activity android:name=".activity.abactivity.flagdemo74.MainActivity74" />
        <activity android:name=".activity.abactivity.flagdemo74.SecondActivity74" />
        <activity android:name=".activity.acasync.demoone70.MainActivity70" />
        <activity android:name=".activity.acasync.demotwo71.MainActivity71" />
        <activity android:name=".activity.acasync.getimagestrong72.MainActivity72" />
        <activity android:name=".activity.acasync.progresslow73.MainActivity73" />
        <activity android:name=".activity.aalayout.imageviewdeal75.MainActivity75" />
        <!-- This is listview activity -->
        <activity android:name=".activity.adlistview.baseadapter80.MainActivity80" />
        <activity android:name=".activity.adlistview.firstlistview.MainActivityFirstLV" />
        <activity android:name=".activity.adlistview.adddata81.MainActivity81" />
        <activity android:name=".activity.adlistview.simpleadapter82.MainActivity82" />
        <activity android:name=".activity.adlistview.listviewdataparse83.MainActivity83" />
        <activity android:name=".activity.adlistview.listviewjoke90.MainActivity90" />
        <activity android:name=".activity.adlistview.baseadapterpack100.MainActivity100" />
        <activity android:name=".activity.adlistview.listviewexpandable101.MainActivity101" />
        <activity android:name=".activity.adlistview.gradview102.MainActivity102" />
        <activity android:name=".activity.adlistview.gradview102.HeadImageActivity102" />
        <activity android:name=".activity.adlistview.lvemptyview103.MainActivity103" />
        <activity android:name=".activity.adlistview.lvemptyview103.SecondActivity103" />
        <!-- container -->
        <activity android:name=".activity.aealert.alertdialog110.MainActivity110" />
        <activity android:name=".activity.aealert.contextmenu111.MainActivity111" />
        <activity android:name=".activity.aealert.notification112.MainActivity112" />
        <activity android:name=".activity.aealert.optionmenu113.MainActivity113" />
        <activity android:name=".activity.aealert.popupmenu114.MainActivity114" />
        <activity android:name=".activity.aealert.subMenu115.MainActivity115" />
        <activity android:name=".activity.aealert.toastdemo116.MainActivity116" />
        <activity android:name=".activity.aealert.dymicaddmenu117.MainActivity117" />
        <!-- fragment -->
        <activity android:name=".activity.affragment.dialogframgment.MainActivity120" />
        <activity android:name=".activity.affragment.staticfragment121.MainActivity121" />
        <activity android:name=".activity.affragment.fragmentpassvalue122.MainActivity122" />
        <activity android:name=".activity.affragment.dynicaddfragment123.MainActivity123" />
        <activity android:name=".activity.affragment.radiofragment124.MainActivity124" />
        <!-- storge -->
        <activity android:name=".activity.agstorge.sharedproference130.MainActivity130" />
        <activity android:name=".activity.agstorge.filestorge131.MainActivity131" />
        <activity android:name=".activity.agstorge.fileStorgetwo132.MainActivity132" />
        <activity android:name=".activity.agstorge.sql.sql140.MainActivity140" />
        <activity android:name=".activity.agstorge.sql.sqlclientone150.MainActivity150" />
        <activity android:name=".activity.agstorge.sql.sqlserverone151.MainActivity151" />
        <activity android:name=".activity.agstorge.sql.sqlclienttwo152.MainActivity152" />
        <activity android:name=".activity.agstorge.sql.sqlservertwo153.MainActivity153" />
        <activity android:name=".activity.agstorge.sql.sqldemo154.MainActivity154" />
        <activity android:name=".activity.agstorge.sql.simplecusoradapter155.MainActivity155" />
        <activity android:name=".activity.agstorge.contentobserver160.MainActivity160" />
        <activity android:name=".activity.agstorge.contentResolverContacts161.MainActivity161" />
        <activity android:name=".activity.agstorge.loadmanger170.MainActivity170" />
        <!-- LoadManager -->
        <activity android:name=".activity.agstorge.loadmanagercontact171.MainActivity171" />
        <activity android:name=".activity.agstorge.loadmanagercontact171.SearchContactActivity171" />
        <activity android:name=".activity.agstorge.loadmanagercontact171.ShowContactActivity171" />
        <activity android:name=".activity.agstorge.loadmanagercontact171.ShowCustomProviderActivity171" />
        <!-- handler -->
        <activity android:name=".activity.ahhandler.handerimage180.MainActivity180" />
        <activity android:name=".activity.ahhandler.handercycleiamge181.MainActivity181" />
        <activity android:name=".activity.ahhandler.handlerlightcycle182.MainActivity182" />
        <activity android:name=".activity.ahhandler.updateui183.MainActivity183" />
        <activity android:name=".activity.ahhandler.handlerlopper184.MainActivity184" />

        <!-- actionbar -->
        <activity android:name=".activity.aealert.actionbar190.demo190.MainActivity190" />
        <activity android:name=".activity.aealert.actionbar190.demo190.SecondActivity190" />
        <activity android:name=".activity.aealert.actionbar190.provider191.MainActivity191" />
        <activity android:name=".activity.aealert.actionbar190.tab192.MainActivity192" />
        <activity android:name=".activity.aealert.actionbar190.list193.MainActivity193" />
        <activity android:name=".activity.aealert.actionbar190.customview.MainActivity194" />
        <activity android:name=".activity.agstorge.asstes195.MainActivity195" />
        <!-- viewpager -->
        <activity android:name=".activity.aiviewpager.textview210.MainActivity210" />
        <activity android:name=".activity.aiviewpager.cbk.chabaike211.MainActivity211" />
        <activity android:name=".activity.aiviewpager.circle212.MainActivity212" />
        <activity android:name=".activity.aiviewpager.fragment214.MainActivity214" />
        <activity android:name=".activity.aiviewpager.actionbar215.MainActivity215" />
        <activity android:name=".activity.aiviewpager.tabone220.MainActivity220" />
        <activity android:name=".activity.aiviewpager.tabtwo221.MainActivity221" />
        <activity android:name=".activity.aiviewpager.cbk.chabaike216.MainActivity216" />
        <activity android:name=".activity.aiviewpager.cbk.chabaike240.MainActivity240" />
        <!-- webview -->
        <activity android:name=".activity.aiviewpager.webview213.MainActivity213" />
        <!-- broadcastreceiver -->
        <activity android:name=".activity.ajbroadcast.staticdymic230.MainActivity230" />
        <!-- static注册广播 -->
        <receiver android:name=".activity.ajbroadcast.staticdymic230.MyReceiver2">
            <intent-filter>

                <!-- <action android:name="Intent.ACTION_BOOT_COMPLETED" /> -->
                <action android:name="android.action.intent.myself" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ajbroadcast.sendbroadcast231.MainActivity231" />
        <activity android:name=".activity.ajbroadcast.localboradcastOne232.MainActivity232" />
        <activity android:name=".activity.ajbroadcast.localboradcastTwo233.MainActivity233" />
        <activity android:name=".activity.ajbroadcast.serverclient234.server.MainActivity234" />
        <activity android:name=".activity.ajbroadcast.serverclient234.client.MainActivity235" />

        <receiver
            android:name=".activity.ajbroadcast.serverclient234.server.MyReceiverPermssion"
            android:permission="android.action.permission.mypermiss2">
            <intent-filter>
                <action android:name="android.action.intent.abcd" />
            </intent-filter>
        </receiver>
        <!-- service -->
        <activity android:name=".activity.akservice.servicedemo241.MainActivity241" />

        <service android:name=".activity.akservice.servicedemo241.MyService" />

        <activity android:name=".activity.akservice.localbroadservice242.MainActivity242" />

        <service android:name=".activity.akservice.localbroadservice242.TimerSerivce" />

        <activity android:name=".activity.akservice.mediaservice243.MainActivity243" />

        <service android:name=".activity.akservice.mediaservice243.MediaService243" />

        <activity android:name=".activity.akservice.intentservice248.MainActivity248" />

        <service android:name=".activity.akservice.intentservice248.DownLoadService248" />

        <activity android:name=".activity.akservice.stickservice247.MainActivity247" />

        <service android:name=".activity.akservice.stickservice247.StickService247" />

        <activity android:name=".activity.akservice.mediaservice246.MainActivity246" />

        <service android:name=".activity.akservice.mediaservice246.service.MediaService246" />
        <!-- SurfaceView -->
        <activity android:name=".view.surfaceview.SurfaceViewMainActivity" />
        <!-- GL SurfaceView -->
        <activity android:name=".view.glsurfaceview.GLSurfaceViewActivity" />
        <!-- Hot Area Activty -->
        <activity android:name=".view.hostarea.HotAreaActivity" />
        <activity android:name=".activity.aabase.asecondactivity.LayoutButtonActivity1" />
        <activity android:name=".activity.aabase.asecondactivity.LiveCycleActivity2" />
        <activity android:name=".activity.aabase.asecondactivity.AsyncActivity3" />
        <activity android:name=".activity.aabase.asecondactivity.ListViewActivity4" />
        <activity android:name=".activity.aabase.asecondactivity.AlertActivity5" />
        <activity android:name=".activity.aabase.asecondactivity.FragmentActivity6" />
        <activity android:name=".activity.aabase.asecondactivity.StorgeActivity7" />
        <activity android:name=".activity.aabase.asecondactivity.HandlerActivity8" />
        <activity android:name=".activity.aabase.asecondactivity.ViewPagerActivity9" />
        <activity android:name=".activity.aabase.asecondactivity.BroadcastActivity10" />
        <activity android:name=".activity.aabase.asecondactivity.ServiceActivity11" />
        <activity android:name=".view.widget.custom.canvasshape.SloopActivity" />
        <activity android:name=".view.widget.custom.canvastext.PictureActivity" />
        <activity android:name=".view.widget.custom.canvaspath.PathActivity" />
        <activity android:name=".view.widget.custom.canvasBezier.BezierActivity" />
        <activity android:name=".view.widget.custom.canvasmesure.PathMesureActivity" />
        <activity android:name=".view.widget.custom.shopcartview.ShoppingCartActivity" />
        <activity android:name=".library.retrofitxxx.activity.RetrofitActivity" />
        <activity android:name=".architecture.mvp.view.LoginActivity" />
        <!-- project music -->
        <activity android:name=".project.music.MusicMainActivity" />
        <activity android:name=".library.rxjava.RxActivity" />
        <!--ButterKnife-->
        <activity android:name=".library.butterknife.activity.ButterKnifeActivity" />

    </application>

</manifest>